*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

.clearfix:after{
	content:"";
	display:block;
	clear:both;
}

header{
	width:100%;
	background-color:#ec715f;
}

.container{
	width:1024px;
	height:70px;
	margin:0 auto;
}

.header-logo{
	height:70px;
	float:left;
}

.nav{
	float:right;
	line-height:70px;
}

.list{
	float:left;
	list-style:none;
}

.list a{
	padding:0 30px;
	color:#fafafa;
	font-size:16px;
	text-decoration:none;
}

.main-visual{
	width:100%;
	height:650px;
	background-image:url(img/mv.png);
	background-size:cover;
	background-position:center;
	text-align:center
}

.visual-title{
	padding-top:200px;
	padding-bottom:10px;
	font-size:64px;
	color:#fafafa;
}

.visual-text{
	font-size:20px;
	color:#fafafa;
}