*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

.clearfix:after{
	content:"";
	display:block;
	clear:both;
}

header{
	width:100%;
	background-color:#ec715f;
}

.container{
	width:1024px;
	height:70px;
	margin:0 auto;
}

.header-logo{
	height:70px;
	float:left;
}

.nav{
	float:right;
	line-height:70px;
}

.list{
	float:left;
	list-style:none;
}

.list a{
	padding:0 30px;
	color:#fafafa;
	font-size:16px;
	text-decoration:none;
}